<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="pl.treekt.fallingdetector">

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name="pl.treekt.fallingdetector.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="pl.treekt.fallingdetector.ContactActivity"
            android:label="@string/title_activity_contact"
            android:parentActivityName="pl.treekt.fallingdetector.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.treekt.fallingdetector.MainActivity"/>
        </activity>

        <provider
            android:name="pl.treekt.fallingdetector.data.DetectorProvider"
            android:authorities="pl.treekt.fallingdetector"
            android:exported="false"/>

        <service
            android:name="pl.treekt.fallingdetector.service.DetectorService"
            android:exported="false"
            />
    </application>
</manifest>